{% extends 'app.html' %}
{% load static %}

{% block head_content %}
    <title>Home | Maestros</title>
{% endblock %}

{% block content %}
        
    <div class="content">
        <section class="card">
            <form class="content-title" id="courseForm">
                <h2 class="subtitle">Grupo</h2>
                <button class="btn-success m-left" >
                    AGREGAR
                </button>
                {% csrf_token %}
                <input class="input-form m-left" type="text" name="courseName" placeholder="Nombre del nuevo curso" id="courseInput"/>
                <p id="courseMessage" class="m-left"></p>
            </form>

            <div class="content-body">
                <ul id="coursesList">
                    <!-- AQUÍ SE PONEN LOS CURSOS DESDE JS -->
                </ul>
            </div>
        </section>
        
        <section class="card">
            <div class="content-title">
                <h2 class="subtitle">Actividades</h2>
                <button class="btn-success m-left">
                    AGREGAR
                </button>
                <input class="input-form m-left" type="text" placeholder="Nombre de la nueva actividad"/>
            </div>
        </section>
    </div>

{% endblock %}

{% block final %}
    <script src="/static/js/courses.js"></script>
{% endblock %}
