{% extends 'app.html' %}
{% load static %}

{% block head_content %}
    <title>Home | Maestros</title>
{% endblock %}

{% block content %}
        
    <div class="content">
        <section class="card">
            <div class="content-title">
                <h2 class="subtitle">Grupo</h2>
                <button class="btn-success">
                    AGREGAR
                </button>
            </div>
        </section>
        
        <section class="card">
            <div class="content-title">
                <h2 class="subtitle">Actividades</h2>
                <button class="btn-success">
                    AGREGAR
                </button>
            </div>
        </section>
    </div>

{% endblock %}
