/* GENERAL */
body {
    margin: 0;
    background: #FFF;
    font-family: 'Noto Sans TC', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    background: rgba(235, 237, 239, 0.2);
    width: 100%;
}
.navbar-title {
    display: inline-block;
    margin: 15px 0 0 40px;
    color: white;
}

.navbar-title span {
    color: black;
    background: #CC3300;
    padding: 15px;

}

.navbar-list {
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;
}

.navbar-list li{
    display: inline-block;
    margin-right: 25px;
}

.navbar-list a:hover {
    background: rgba(231, 195, 50, 0.7);
    color: black;
}

.navbar-list a {
    color: white;
    text-decoration: none;
    padding: 21px;
    display: block;
}

/* PORTADA */
.img-portada {
    width: 100%;
}