/* GENERAL */
body {
    margin: 0;
    background: #EEE;
    font-family: 'Noto Sans TC', sans-serif;
}
.background-white {
    background: rgba(235, 237, 239, 0.2);
}

.background-gray {
    background: rgba(66, 66, 66, 0.8);
}
.background-gray label {
    color: white;
    text-align: center;
}

.shadow-error {
    box-shadow: 0px 0px 25px red;
}
/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.navbar-title {
    display: inline-block;
    margin: 15px 0 0 40px;
}
.navbar-title a{
    color: white;
    text-decoration: none;
}
.navbar-title span {
    color: black;
    background: #CC3300;
    padding: 15px;

}

.navbar-list {
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;
}

.navbar-list li{
    display: inline-block;
    margin-right: 25px;
}

.navbar-list a:hover {
    background: rgba(231, 195, 50, 0.7);
    color: black;
}

.navbar-list a {
    color: white;
    text-decoration: none;
    padding: 21px;
    display: block;
}

/* PORTADA */
.img-portada {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}
/* TEACHERS*/
.content-portada {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 106px 8% 0;
}

.content-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

.m-left {
    margin-left: 25px;
}

.icons-container {
    margin-left: 2%;
    display: inline-block;
}

.button-delete {
    color: #F78181;
    cursor: pointer;
}
.button-edit {
    color: #28a745;
    cursor: pointer;
}

.icons-container .button-edit {
    margin-left: 10px;
}
 
.input-form {
    border-radius: 9px;
    border: 1px solid #ced4da;
    padding: 8px;
    font-size: 16px;
    color: darkslategray;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
}

.subtitle {
    font-size: 20px;
}

.btn-success {
    border: none;
    padding: 10px;
    border-radius: 9px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}

.btn-success:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FORMS */
.form-group {
    padding: 20px 50px 20px 40px;
    border-radius: 8px;
    width: 50%;
    margin-top: 180px;
}

.form-group label {
    display: block;
}
.form-group input {
    border: none;
    border-radius: 2px;
    font-size: 15px;
    height: 30px;
    width: 100%;
    margin: 10px 0 0 0;
    padding-left:10px;
}

.form-group button {
    font-size: 20px;
    border: solid 1px rgb(129, 129, 129);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: gray;
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
}

.form-message-error {
    margin: 0;
    text-align: center;
    color: darkturquoise;;
}

.form-checkbox-content {
    position: relative;
}

.form-checkbox-content label {
    display: inline;
    position: absolute;
    top: 11px;
    left: 40px;
}